/*Advanced CSS Stuff */
body
{
text-align:center;
font-size:62.5%;
}
#wrapper
{
text-align:left;
border:1px solid #033;
position:relative;
font-size:1.4em;
}
#header
{
background:#033 url(bg-fade.gif) repeat-x bottom;
color:#fff;
height:55px;
position:relative;
}
#header h1,
#header h2
{
position:absolute;
padding:0;
margin:0;
}
#header h1
{
top:5px;
left:8px;
height:50px;
background: url(reflection.gif) no-repeat bottom;
}
#header h2
{
top:20px;
left:193px;
}
#headerlinks
{
float:right;
font-size:0.8em;
background: url(links-bg.gif) no-repeat left bottom;
padding:6px 6px 8px 10px;
}
#headerlinks a:link,
#headerlinks a:visited,
#headerlinks a:hover,
#headerlinks a:active
{
color:#fff;
}
#headersearch form
{
padding:0;
margin:0;
}
#headersearch
{
position:absolute;
top:2em;
right:5px;
}
#headersearch form input
{
padding:0;
margin:0;
vertical-align:middle;
}
#txtSearch
{
height:17px;
width:115px;
border:1px solid black;
}
#tablinks ul,#tablinks li
{
padding:0;
margin:0;
list-style:none;
}
#tablinks
{
background:#336868 url(tab-bg.gif) repeat-x top;
}
#tablinks li
{
float:left;
border-right:1px solid #094747;
}
#tablinks a
{
display:block;
padding:5px 10px;
}
#tablinks a:link,
#tablinks a:visited,
#tablinks a:hover,
#tablinks a:active
{
color:white;
text-decoration:none;
}
#breadcrumb
{
background: #009F9F;
color:#fff;
padding:5px 10px;
}
#breadcrumb a
{
color:#fff;
}
/* Default styles */
body#cols3 #content-wrapper
{
padding-left:9em;
padding-right:12em;
}
#content-inner
{
}
body#cols3 #navigation
{
position:absolute;
top:8.8em;
left:0;
}
body#cols3 #related
{
position:absolute;
top:8.5em;
right:10px;
}
/* Splash page styles */
body#splash #content-wrapper
{
padding-left:1em;
padding-right:1em;
}
body#splash #navigation
{
display:none;
}
body#splash #related
{
display:none;
}
body#splash #footer
{
padding:5px 0 5px 1.5em;
}
/* Entry page styles */
body#entry #content-wrapper
{
padding-left:1em;
padding-right:50%;
}
body#entry #navigation
{
font-size:x-large;
position:absolute;
top:4em;
right:20px;
max-width:45%;
}
body#entry #related
{
display:none;
}
body#entry #footer
{
padding:5px 0 5px 1.5em;
}



#related
{
	background-color: #013433;
	background-image: url(right.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
#related h2
{
	margin: 0;
	padding: 10px;
	font-size: large;
	background-image: url(left.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#related ul
{
	margin:0;
	padding-bottom:10px;
	background-image: url(left.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#related div
{
	background-image: url(right.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

#footer
{
padding:5px 0 5px 160px;
clear:both;
background: #D9FFF8;
font-size:0.8em;
color:#030;
}
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

#breadcrumb
{
background:#009f9f;
color:#fff;
padding:5px 10px;
}
#breadcrumb a
{
color:#fff;
}
#breadcrumb ul,
#breadcrumb li
{
display:inline;
padding:0;
margin:0;
}
#breadcrumb ul li
{
padding-left:0;
}
#breadcrumb ul li ul li
{
padding-left:14px;
background: url(arrow.gif) no-repeat left center;
}

#navigation ul,
#related ul,
#navigation li,
#related li
{
padding:0;
margin:0;
list-style:none;
}
#navigation li
{
margin:0 0 0 10px;
width:8em;
}
#navigation li a
{
display:block;
border-bottom:1px solid #033;
text-decoration:none;
padding:2px 2px 2px 5px;
}
#navigation li a:hover
{
background:#009f9f url(arrow.gif) no-repeat 2px center;
color:#fff;
border-bottom:1px solid #000;
padding:2px 2px 2px 14px;
}
#related ul
{
padding-bottom:15px;
}
#related li
{
margin:0 0 0 10px;
width:8em;
}
#related li a
{

display:block;
text-decoration:none;
background:#fff url(arrow.gif) no-repeat 2px center;
padding:2px 2px 2px 20px;
}
#related li a:hover
{
background:#009f9f url(arrow.gif) no-repeat 2px center;
color:#fff;
padding:2px 2px 2px 14px;
}
body.home a.home {background:#047070 url(tab-bg-hover.gif) repeat-x top;}
body.travel a.travel {background:#047070 url(tab-bg-hover.gif) repeat-x top;}
body.flights a.flights {background:#047070 url(tab-bg-hover.gif) repeat-x top;}
body.hotels a.hotels {background:#047070 url(tab-bg-hover.gif) repeat-x top;}
body.late-deals a.late-deals {background:#047070 url(tab-bg-hover.gif) repeat-x top;}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
